@model RegisterViewModel
@{
    ViewData["Title"] = "Nuevo Usuario";
}
<script type="text/javascript">
    $("#botonRegistrar").prop("disabled", "true");
    $("#formularioRegistro").change(function () {
        if ($("#acepto").is(":checked")) {
            $("#botonRegistrar").prop("disabled", false);
        }
        else {
            $("#botonRegistrar").prop("disabled", true);
        }
    });

</script>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrar Nuevo</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <form asp-controller="Account" id="formularioRegistro" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <h4>Crea tu nueva Cuenta, es Fácil y Rápido.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-md-2 control-label">Email*</label>
                                <div class="col-md-4">
                                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-2 control-label">Password*</label>
                                <div class="col-md-4">
                                    <input asp-for="Password" class="form-control" placeholder="Introduce una Contraseña de 8 dígitos (que contenga números, letras, letra mayúscula y un caracter especial)" maxlength="10"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="col-md-2 control-label">Confirma tu Password*</label>
                                <div class="col-md-4">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirma tu Password" maxlength="10" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-5">
                                    @*<div class="checkbox">
                                            <input id="acepto" type="checkbox"/>
                                            <label>Acepto Términos y Condiciones</label>
                                        </div>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" id="botonRegistrar" class="btn btn-primary">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
