@model LoDesbloqueo.Data.Cliente

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label" ></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RFC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelefonoActual" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TelefonoActual" class="form-control" />
                <span asp-validation-for="TelefonoActual" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="WhatssApp" />
                    <label asp-for="WhatssApp"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelefonoContacto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TelefonoContacto" class="form-control" />
                <span asp-validation-for="TelefonoContacto" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="WhatssApp2" />
                    <label asp-for="WhatssApp"></label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label asp-for="Calle"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label asp-for="NumExt"></label>
                <input asp-for="NumExt" class="form-control" />
                <span asp-validation-for="NumExt" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label asp-for="NumInt"></label>
                <input asp-for="NumInt" class="form-control" />
                <span asp-validation-for="NumInt" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Colonia"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Estado"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="HoraContacto"></label>
                <input asp-for="HoraContacto" class="form-control" />
                <span asp-validation-for="HoraContacto" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
