@model LoDesbloqueo.Data.Servicio

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Servicio</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IdTipoServicio" class="col-md-2 control-label">Tipo de Servicio *</label>
            <div class="col-md-10">
                <select asp-for="IdTipoServicio" class ="form-control" asp-items="ViewBag.IdTipoServicio"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecioMaximo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecioMaximo" class="form-control" />
                <span asp-validation-for="PrecioMaximo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecioMinimo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecioMinimo" class="form-control" />
                <span asp-validation-for="PrecioMinimo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrecioSugerido" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrecioSugerido" class="form-control" />
                <span asp-validation-for="PrecioSugerido" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
