@model IndexViewModel
@{
    ViewData["Title"] = "Administración";
}

<h2>@ViewData["Title"].</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Módulos</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Marcas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="Marcas" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="Marcas" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modelos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="Modelos" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="Modelos" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Estados de Dispositivos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="EstadoDispositivos" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="EstadoDispositivos" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lugares de Almacenamiento</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="LugarAlmacenamientos" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="LugarAlmacenamientos" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Estados de Notificacion Cliente</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="EstadoNotificaciones" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="EstadoNotificaciones" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tipos de Servicio</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="TipoServicios" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tipos de Tecnicos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="TipoTecnicos" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="TipoTecnicos" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tecnicos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <a asp-controller="Tecnicos" asp-action="Create" class="btn btn-primary">Registrar</a>
                            <a asp-controller="Tecnicos" asp-action="Index" class="btn btn-default">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Estados del Servicio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <a asp-controller="EstadoServicios" asp-action="Create" class="btn btn-primary">Registrar</a>
                                <a asp-controller="EstadoServicios" asp-action="Index" class="btn btn-default">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Servicios</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <a asp-controller="Servicios" asp-action="Create" class="btn btn-primary">Registrar</a>
                                <a asp-controller="Servicios" asp-action="Index" class="btn btn-default">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</div>
    </div>

















<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>
            @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }*@
        </dd>
    </dl>
</div>
