<!--footer-->
@section scripts{
    <meta charset="utf-8" />
}
<footer class="main-footer">
    <div class="list-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Enlaces</h2>
                    <ul>
                        <li><a href="/accesibilidad">Declaración de Accesibilidad</a></li>
                        <li><a href="/privacidad">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
