@using Microsoft.AspNetCore.Identity
@model LoDesbloqueo.Data.OrdenServicio

@{
    ViewData["Title"] = "Orden de Servicio";
}
@inject UserManager<ApplicationUser> UserManager
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="~/js/chosen.jquery.js"></script>

<link href="~/css/chosen.css" rel="stylesheet" />
<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop {
        left: -9000px;
    }
</style>

<script type="text/javascript">
    $(".chosen-select").chosen();

</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Orden de Servicio</h3>
    </div>
    <form asp-controller="OrdenServicios" asp-action="Create" method="post">
        <div class="panel-body">
            <div class="container">
                <h2 class="titulo">Datos Generales</h2>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label asp-for="IdCliente" class="control-label">Cliente *</label>
                            <select asp-for="IdCliente" class="form-control chosen-select" asp-items="ViewBag.IdCliente">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="UsuarioRecibe" class="control-label"></label>
                            <input id="UsuarioRecibe" name="UsuarioRecibe" asp-for="UsuarioRecibe" value="@UserManager.GetUserName(User)" class="form-control" readonly />
                            <span asp-validation-for="UsuarioRecibe" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="FechaLlegada" class="control-label"></label>
                            <input asp-for="FechaLlegada" type="datetime" value="@System.DateTime.Now.ToString()" class="form-control" disabled />
                            <span asp-validation-for="FechaLlegada" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2 class="titulo">Datos del Equipo</h2>
                    <hr />
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IdMarca" class="control-label">Marca *</label>
                            <select asp-for="IdMarca" class="form-control chosen-select"  onchange="BuscarModeloTecnico(IdMarca.value)" asp-items="ViewBag.IdMarca">
                               <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label  class="control-label">Modelo Tecnico *</label>
                            <select asp-for="IdModelo" id="IdModelo" name="IdModelo" class="form-control" onchange="BuscarModelo(IdModelo.value)" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Modelo *</label>
                            <input id="IdModeloT" type="text" class="form-control" onblur="BuscarModeloComercial(IdModeloT.value)"/>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="IdEdoDispositivo" class="control-label">Estado de Dispositivo *</label>
                            <select asp-for="IdEdoDispositivo" class="form-control chosen-select" asp-items="ViewBag.IdEdoDispositivo">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CompanyaOrigen" class="control-label"></label>
                            <select asp-for="CompanyaOrigen" class="form-control chosen-select" asp-items="ViewBag.IdEmpresaTelefonica">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                            <span asp-validation-for="CompanyaOrigen" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="NoSerie" class="control-label"></label>
                            <input asp-for="NoSerie" class="form-control" />
                            <span asp-validation-for="NoSerie" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <h2 class="titulo">Datos del Servicio</h2>
                    <hr />
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="IdTipoServicio" class="control-label">Tipo de Servicio *</label>
                            <select id="IdTipoServicio" asp-for="IdTipoServicio" class="form-control chosen-select" asp-items="ViewBag.IdTipoServicio" onchange="ValidarColorPieza()">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IMEI" class="control-label"></label>
                            <input asp-for="IMEI" class="form-control" maxlength="16" />
                            <span asp-validation-for="IMEI" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="DescripcionFalla" class="control-label"></label>
                            <textarea asp-for="DescripcionFalla" class="form-control"></textarea>
                            <span asp-validation-for="DescripcionFalla" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ColorPieza" class="control-label"></label>
                            <input id="ColorPieza" asp-for="ColorPieza" class="form-control" disabled/>
                            <span asp-validation-for="ColorPieza" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" id="DejaAccesorios" asp-for="DejaAccesorios" onchange="VerificaAccesorios()"/>
                                <label asp-for="DejaAccesorios"></label>
                            </div>
                            <input id="DescripcionAccesorios" asp-for="DescripcionAccesorios" class="form-control" disabled />
                            <span asp-validation-for="DescripcionAccesorios" class="text-danger" />
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-5">
                        <div class="checkbox">
                            <input asp-for="DesactivoICloud" />
                            <label asp-for="DesactivoICloud"></label>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5">
                        <div class="checkbox">
                            <input asp-for="ImplicaRiesgo" />
                            <label asp-for="ImplicaRiesgo"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="checkbox">
                                <input asp-for="ReparadoAnteriormente" />
                                <label asp-for="ReparadoAnteriormente"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5">
                        <div class="checkbox">
                            <input asp-for="AceptaRiesgo" />
                            <label asp-for="AceptaRiesgo"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="checkbox">
                                <input asp-for="EquipoMojado" />
                                <label asp-for="EquipoMojado"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="checkbox">
                                <input asp-for="EquipoApagado" />
                                <label asp-for="EquipoApagado"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-md-10">
                            <div class="checkbox">
                                <input id="RevisionAdicional" asp-for="RevisionAdicional"  onchange="VerificaRevisionAdicional()"/>
                                <label asp-for="RevisionAdicional"></label>
                                <input id="DescripcionRevisionAdicional" asp-for="DescripcionRevisionAdicional" class="form-control" disabled />
                                <span asp-validation-for="DescripcionRevisionAdicional" class="text-danger" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PasswordDesbloqueo" class="control-label"></label>
                            <input id="pd1" type="checkbox" onchange="Desbloqueo()"/>
                            <input id="PasswordDesbloqueo" asp-for="PasswordDesbloqueo" class="form-control" disabled />
                            <span asp-validation-for="PasswordDesbloqueo" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PatronDesbloqueo" class="control-label"></label>
                            <input id="pd2" type="checkbox" onchange="Desbloqueo()" />
                            <input id="PatronDesbloqueo" asp-for="PatronDesbloqueo" class="form-control" disabled/>
                            <span asp-validation-for="PatronDesbloqueo" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2 class="titulo">Control Interno</h2>
                    <hr />
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="IdLugarAlmacenamiento" class="control-label">Lugar de Almacenamiento</label>
                            <select asp-for="IdLugarAlmacenamiento" class="form-control chosen-select" asp-items="ViewBag.IdLugarAlmacenamiento">
                                <option value="Seleccionar">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="FechaPosibleSalida" class="control-label"></label>
                            <input type="date" asp-for="FechaPosibleSalida" class="form-control" />
                            <span asp-validation-for="FechaPosibleSalida" class="text-danger" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Observaciones" class="control-label"></label>
                            <textarea asp-for="Observaciones" class="form-control"></textarea>
                            <span asp-validation-for="Observaciones" class="text-danger" />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    var config = {
                        '.chosen-select': {},
                        '.chosen-select-deselect': { allow_single_deselect: true },
                        '.chosen-select-no-single': { disable_search_threshold: 10 },
                        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                        '.chosen-select-width': { width: "95%" }
                    }
                    for (var selector in config) {
                        $(selector).chosen(config[selector]);
                    }

                </script>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a asp-controller="OrdenServicios" asp-action="Index" class="btn btn-default">Regresar</a>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>

    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
